Corso_Node_RED/esempi/Esempi_puntata3/Esempio3.json
[{"id":"e48bfcda8bae41da","type":"tab","label":"Esempio 4","disabled":false,"info":""},{"id":"bd2fa38ce832565e","type":"sensor-ds18b20","z":"e48bfcda8bae41da","name":"TempSensor","topic":"","sensorid":"28-00000852f501","timer":"1","repeat":false,"x":610,"y":160,"wires":[["9831e673e52a1be1"]]},{"id":"7d2fd0184db2ead3","type":"serial out","z":"e48bfcda8bae41da","name":"Serial OUT","serial":"17ccf23143f7599e","x":910,"y":220,"wires":[]},{"id":"9831e673e52a1be1","type":"function","z":"e48bfcda8bae41da","name":"PosResp","func":"msg.payload = \"Temperature: \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":160,"wires":[["7d2fd0184db2ead3"]]},{"id":"944ba14a4cef1658","type":"serial in","z":"e48bfcda8bae41da","name":"Serial IN","serial":"17ccf23143f7599e","x":200,"y":220,"wires":[["4ba3e4e442c3361d"]]},{"id":"4ba3e4e442c3361d","type":"function","z":"e48bfcda8bae41da","name":"GetRequest","func":"if (msg.payload == \"Temp?\\n\")\n{\n    msg.payload = \"TempReq\";\n}\nelse\n{\n    msg.payload = \"InvalidReq\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":220,"wires":[["690f11bcc7341651"]]},{"id":"690f11bcc7341651","type":"switch","z":"e48bfcda8bae41da","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"TempReq","vt":"str"},{"t":"eq","v":"InvalidReq","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":220,"wires":[["bd2fa38ce832565e"],["7eb5ec46f86e81d2"]]},{"id":"7eb5ec46f86e81d2","type":"function","z":"e48bfcda8bae41da","name":"NegResp","func":"msg.payload = \"ERROR: Invalid Command...\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":260,"wires":[["7d2fd0184db2ead3"]]},{"id":"9eee8613988a7b2a","type":"comment","z":"e48bfcda8bae41da","name":"Positive Response","info":"","x":710,"y":120,"wires":[]},{"id":"a3ebde9719e5f2c6","type":"comment","z":"e48bfcda8bae41da","name":"Negative Response","info":"","x":710,"y":300,"wires":[]},{"id":"17ccf23143f7599e","type":"serial-port","serialport":"/dev/ttyS0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"100","bin":"false","out":"time","addchar":"\\n","responsetimeout":"10000"}]