Corso_Node_RED/esempi/Esempi_puntata1/Esempi/Esempio_1.json
[{"id":"9010af55.a5c8c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9a94cd4f.4e5be","type":"inject","z":"9010af55.a5c8c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":180,"wires":[["ca946378.78c3c"]]},{"id":"ca946378.78c3c","type":"trigger","z":"9010af55.a5c8c","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":520,"y":180,"wires":[["7f05d04d.d75dc"]]},{"id":"7f05d04d.d75dc","type":"rpi-gpio out","z":"9010af55.a5c8c","name":"","pin":"7","set":true,"level":"0","freq":"","out":"out","x":680,"y":180,"wires":[]}]