Corso_Node_RED/esempi/Esempi_puntata5/Esempi/TCP_echo_server.json
[{"id":"7e6a3672f8cf85a4","type":"tab","label":"TCP Example","disabled":false,"info":""},{"id":"a9575ded56f7df40","type":"tcp in","z":"7e6a3672f8cf85a4","name":"TCP in","server":"server","host":"192.168.1.222","port":"2000","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":190,"y":100,"wires":[["0e8277939f1fa2f9"]]},{"id":"e075e1a2bca0e393","type":"tcp out","z":"7e6a3672f8cf85a4","host":"192.168.1.222","port":"2000","beserver":"reply","base64":false,"end":false,"name":"TCP out","x":500,"y":100,"wires":[]},{"id":"0e8277939f1fa2f9","type":"function","z":"7e6a3672f8cf85a4","name":"Concat","func":"msg.payload = msg.payload.concat('\\n');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":100,"wires":[["e075e1a2bca0e393"]]}]