Corso_Node_RED/esempi/Esempi_puntata5/Esempi/UDP_eco_node_A.json
[{"id":"62c7d0bd6bc4cb05","type":"tab","label":"UDP Example","disabled":false,"info":""},{"id":"ac62e6decb0c62ce","type":"inject","z":"62c7d0bd6bc4cb05","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello UDP!!!","payloadType":"str","x":150,"y":80,"wires":[["7960b5fe88e91979"]]},{"id":"7960b5fe88e91979","type":"udp out","z":"62c7d0bd6bc4cb05","name":"UDP Send","addr":"192.168.1.222","iface":"","port":"3000","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":330,"y":80,"wires":[]},{"id":"2684b5ed1dc8f798","type":"udp in","z":"62c7d0bd6bc4cb05","name":"UDP Receive","iface":"","port":"3000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":140,"y":140,"wires":[["742ce5f54a8a035a"]]},{"id":"742ce5f54a8a035a","type":"debug","z":"62c7d0bd6bc4cb05","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":340,"y":140,"wires":[]}]