Corso_Node_RED/esempi/Esempi_puntata6/Esempi/mqtt/MQTT - Publisher.json
[{"id":"d9cc58ddb2aa520e","type":"tab","label":"MQTT - Publisher","disabled":false,"info":""},{"id":"55b1fd4441eeecf5","type":"inject","z":"d9cc58ddb2aa520e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":160,"y":100,"wires":[["e7abd72e384bc93d"]]},{"id":"e7abd72e384bc93d","type":"trigger","z":"d9cc58ddb2aa520e","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":340,"y":100,"wires":[["9f967ce73981c6b6"]]},{"id":"9f967ce73981c6b6","type":"mqtt out","z":"d9cc58ddb2aa520e","name":"","topic":"Led","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"79a77ac9ea5aa108","x":510,"y":100,"wires":[]},{"id":"79a77ac9ea5aa108","type":"mqtt-broker","name":"","broker":"192.168.1.22","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]